$ui-divider-color: #333;

hr {
  height: 2px;
  background-color: $ui-divider-color;
  border: none;
}

.clearer {
  clear: both;
}

.button,
.button-small {
  display: block;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.button {
  padding: 10px 20px;
  font-size: 2em;
}

.button-small {
  padding: 5px 10px;
  width: fit-content;
  margin: 10px auto;
}

.button:hover {
  background-color: #eee;
}

#controller {
  .basic-controllers {
    margin: 0 auto;
  }

  .big {
    display: block;
    margin: auto;
    text-align: center;
  }

  #shared-params {
    width: inherit;
    position: inherit;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    margin: 20px auto;
    text-align: center;

    h1 {
      margin: 8px 0;
    }
  }

  #log {
    margin: 10px;
    padding: 8px;
    height: 200px;
    max-height: 400px;
    overflow-y: auto;
    background-color: #202020;
    border-radius: 2px;

    .error {
      font-size: 10px;
    }
  }

  #audio {
    font-size: 1.5em;

    ul {
      list-style-type: circle;

      li {
        cursor: pointer;
      }
    }
  }

  #leftbox {
    height: 100%;
    float: left;
    width: 50%;
    background-color: #202020;
  }

  #rightbox {
    height: 100%;
    float: right;
    width: 50%;
    background-color: #202020;
  }

  .settings-descr {
    font-weight: italic;
    font-family: monospace;
  }

  .settings-item {
    font-weight: bold;
    font-family: monospace;
    color: #ff66ff;
  }

  // Dropdown Menu
  .hide {
    max-height: 0 !important;
  }

  .dropdown {
    margin: auto;
    border: 0.1em solid white;
    width: 25em;
    margin-bottom: 1em;
  }

  .dropdown .title {
    margin: 0.3em 0.3em 0.3em 0.3em;
    width: 100%;
  }

  .dropdown .title .fa-angle-right {
    float: right;
    margin-right: 0.7em;
    transition: transform 0.3s;
    color: white;
  }

  .dropdown .menu {
    transition: max-height 0.5s ease-out;
    max-height: 20em;
    overflow: hidden;
  }

  .dropdown .menu .option {
    margin: 0.3em 0.3em 0.3em 0.3em;
    margin-top: 0.3em;
  }

  .dropdown .menu .option:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  .pointerCursor:hover {
    cursor: pointer;
  }

  .rotate-90 {
    transform: rotate(90deg);
  }
}

#player {
  #status {
    display: inline-block;
    margin: 20px auto 10px 0px;
  }

  #status-table {
    display: inline-block;
    margin: auto;
  }

  #status-row {
    border: 1px solid gray;
    border-radius: 1px;
  }

  .status-table-descr {
    text-align: left;
  }

  .status-table-cbox {
    text-align: right;
  }

  .colored-box {
    width: 20px;
    height: 20px;
    margin: auto auto auto 20px;
    display: inline-block;
    border: 1px solid gray;
    vertical-align: middle;
    border-radius: 2px;
    background: #ffffff;
  }

  // Slider 2D
  // --------

  // Glow when input is possible
  .glowborder {
    background: white;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    // transform: scale(1);
    animation: pulse-white 2s infinite;
  }

  @keyframes pulse-white {
    0% {
      // transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
      // transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {
      // transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }

  #selection-widget {
    border: 2px solid $ui-divider-color;
    border-radius: 5px;
    flex: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: min-content;
  }

  .selection-label-right {
    width: 40%;
    float: right;
    text-align: right;
    margin: 5px 12px;
  }

  .selection-label-left {
    width: 40%;
    float: left;
    text-align: left;
    margin: 5px 12px;
  }

  #markerbounds {
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  #marker {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    touch-action: none;
    user-select: none;
    border: 2px solid transparent;
  }

  #marker:hover {
    cursor: move;
    border-color: #222;
  }

  #box {
    margin: auto;
    //background-color: #2c3e50;
    position: absolute;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
  }

  // Link Button
  // --------

  #button-widget {
    border: 2px solid $ui-divider-color;
    border-radius: 5px;
    flex: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 20px;
  }

  .button {
    display: block;
    background-color: #fff;
    padding: 10px 20px;
    font-size: 2em;
    color: #333;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  }

  .button:hover {
    background-color: #eee;
  }

  // Record Button
  // --------

  .recording,
  .button.recording:hover {
    background-color: red;
    color: #fff;
  }

  // Slider 1D
  // --------

  .slider1dcontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgba(66, 174, 207, 1.0);
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 50%;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgba(66, 174, 207, 1.0);
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 50%;
  }

  .slider::-webkit-slider-thumb:hover {
    cursor: move;
    border-color: #d3d3d3;
  }
  .slider::-moz-range-thumb:hover {
    cursor: move;
    border-color: #d3d3d3;
  }
  
  .slider1d-descr {
    width: 32%;
    margin: auto;
    display: inline-block;
  }

  #slider1d-descr-left {
    text-align: left;
  }
  
  #slider1d-descr-mid {
    text-align: center;
  }
  
  #slider1d-descr-right {
    text-align: right;
  }
}
